.share-popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.share-popup > * {
  margin-bottom: 10px;
}
.videoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.videoItem {
  flex: 0 0 48%; 
  margin-bottom: 20px; 
}

@media (max-width: 768px) {
  .videoItem {
    flex: 0 0 100%;
  }
}