:root {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(3, 3, 3, 0.87);
  background-color: white;
}

#root {
  width: 100%;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color:  #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

.loginPage{
  width: 100%;
  height: auto;
}

.loginDivCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.teacherLog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarTop {
  position: relative;
  height: auto;
  top: 0px;
  text-align: right;
  background: linear-gradient(to right, rgba(255, 192, 203, 0) 0%,  #ffb374 100%);
  padding: 5px;
  align-items: center;
  margin-bottom: 20px;
}

.nav-link {
  margin: 5px 15px;
  color: blue;
  size: 25px;
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 20px;
}

input {
  width: 300px;
  height: 25px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px solid lavender;
}

.sideNav {
  position: fixed;
  left: -130px; 
  top: 0;
  height: 100%;
  width: 130px;
  background: linear-gradient(to bottom, rgb(255, 206, 137) 0%, rgb(252, 236, 214) 110%);
  padding: 20px;
  transition: left 0.3s; 
  display: flex; /* Add this line to make it a flex container */
  flex-direction: column; /* Align items vertically */
  align-items: flex-end;
}

.sideNav:hover {
  left: 0; 
}

.sideNav ul {
  margin-top: 15px;
  list-style: none;
  padding: 0;
}

.sideNav li {
  margin-bottom: 5px;
}

.sideNav link {
  color: red;
  text-decoration: none;
  display: flex;
  align-items: right;
}
.inputTopicSideNav {
  width: 70px;
}

.sideNav Link:hover {
  background-color: #555;
  padding: 5px;
  border-radius: 5px;
}
.sideNavBtnAccept {
  background-color: orange;
}

.iconSize {
  font-size: 25px;
  margin-top: 15px;
}

.navSpan {
  display: none;
}

.sideNav li:hover .navSpan {
  display: inline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Protest Riot', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1; 
  padding: 5px;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bolder;
  font-family: inherit;
  background-color: orange;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}
button:hover {
  background-color: rgb(162, 105, 0);  
  color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.newFormSubject {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px; 
  border: 2px solid orange;
  border-radius: 20px;
  padding: 20px;
}

textarea {
  height: 150px; 
}

button {
  padding: 10px;
  cursor: pointer;
}

.examDiv {
  margin-top: 50px;
  padding-left: 20%;
  display: block;
  align-items: center;
  justify-content: center;
  width: 80vh;
}
.examDiv p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.examDiv select {
  width: 100%;
  padding: 8px;
  margin-left: 60px;
  margin-bottom: 10px;
  border: 1px solid blue;
}
.examSubmitBtn {
  margin-left: 15px;
  margin-top: 10px;
}

.selectExamSubject .selectExamDifficulty {
  width: 25px;
  left: 50px;
  margin: 5px;
}

.pendingCards {
 color: black;
}

.topicForAccept {
  color: black;
}

.cardPartDev {
  margin-top: 100px;
  margin-left: 15%;
  padding-top: 70px;
  align-items: center;
  background: linear-gradient(to bottom, rgba(255, 192, 203, 1) 0%, rgba(255, 192, 203, 0) 110%);
  height: 550px;
  width: 70vw;
}

.notificationBtnStart {
 background-color: rgba(128, 0, 128, 0.071);
}

.notBellIcon {
  color: lemonchiffon;
}

ul {
  list-style-type: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@media (max-width: 767px) {
  nav{
    position: relative;
    height: auto;
    top: 0px;
    text-align: right;
    background-color: #74a0ff;
    opacity: 0.5;
    padding: 5px;
    align-items: center;
    margin-bottom: 20px;
  }

  body{
    margin-top: 0;
    padding-top: 0;
  }

  input{
      width: 200px;
  }
}
