:root {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(3, 3, 3, 0.87);
  background-color: white;
}

#root {
  width: 100%;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

.loginPage{
  width: 100%;
  height: auto;
}

.loginDivCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.teacherLog {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav{
  position: relative;
  height: auto;
  top: 0px;
  text-align: right;
  background-color: #ffb374;
  opacity: 0.5;
  padding: 5px;
  align-items: center;
  margin-bottom: 20px;
}

.nav-link {
  margin: 5px 15px;
  color: black;
  size: 25px;
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 20px;
}

input {
  width: 300px;
  height: 25px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px solid darkblue;
}

.sideNav {
  position: fixed;
  left: -130px; 
  top: 0;
  height: 100%;
  width: 130px;
  background-color: #333;
  padding: 20px;
  transition: left 0.3s; 
}

.sideNav:hover {
  left: 0; 
}

.sideNav ul {
  list-style: none;
  padding: 0;
}

.sideNav li {
  margin-bottom: 10px;
}

.sideNav Link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sideNav Link:hover {
  background-color: #555;
  padding: 10px;
  border-radius: 5px;
}

.iconSize {
  font-size: 30px;
  margin-top: 25px;
}

.navSpan {
  display: none;
}

.sideNav li:hover .navSpan {
  display: inline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Protest Riot', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1; 
  padding: 5px;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: orange;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.newSubjectAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
}

.newFormSubject {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px; 
}

.titleNewCard,
.questionNewCard,
.answerNewCard {
  left: 500px;
  margin-bottom: 10px;

  padding: 8px;
}

textarea {
  height: 150px; 
}

button {
  padding: 10px;
  cursor: pointer;
}

.examDiv {
  margin-top: 80px;
  display: block;
  align-items: center;
  justify-content: center;
  width: 100vh;
}
.examSubmitBtn {
  margin-left: 15px;
  margin-top: 10px;
}

.selectExamSubject .selectExamDifficulty {
  width: 25px;
  left: 50px;
  margin: 5px;
}

.pendingCards {
 color: black;
}

.topicForAccept {
  color: black;
}
.topicPartCardsDev {
  padding-top: 60px;
}

.cardDifficulty1 {
  padding-top: 10px;
  border: 1px dashed;
  border-color: green;
}

.cardDifficulty2 {
  padding-top: 10px;
  border: 1px dashed;
  border-color: yellow;
}

.cardDifficulty3 {
  padding-top: 10px;
  border: 1px dashed;
  border-color: red;
}
.cardPartDev {
  margin-top: 150px;
  margin-left: 30%;
  padding-top: 70px;
  align-items: center;
  border: 1px dashed;
  background-color: paleturquoise;
  height: 250px;
  width: 550px;
}

ul {
  list-style-type: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@media (max-width: 767px) {
  nav{
    position: relative;
    height: auto;
    top: 0px;
    text-align: right;
    background-color: #74a0ff;
    opacity: 0.5;
    padding: 5px;
    align-items: center;
    margin-bottom: 20px;
  }

  body{
    margin-top: 0;
    padding-top: 0;
  }

  input{
      width: 200px;
  }
}
